{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Orders{% endblock %}</h1>
{% endblock %}

{% block content %}
  <a href="{{ url_for('place_order') }}" class="btn">Place Order</a> 
  {% for order in orders %}
    <article class="order">
      <header>
        <div>
          <h1>Order ID: {{ order['order_no'] }}</h1>
          <div>Product: {{ order['name'] }}</div>
          <div>Quantity: {{ order['qty'] }}</div>
          <div>Total Price: € {{ order['total_price'] }}</div>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
