{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Products{% endblock %}</h1>
{% endblock %}

{% block content %}

  {% for product in products %}
    <article class="post">
      <header>
        <div>
          <h1>{{ product['sku'] }}</h1>
          <div class="about">Supplier: {{ product['supplier_name'] }}</div>
        </div>
        <a class="action" href="{{ url_for('update_product', SKU=product['SKU']) }}">Edit</a>
        <form action="{{ url_for('remove_product', SKU=product['SKU']) }}" method="post">
          <button type="submit" class="remove">Remove</button>
      </header>
      <p class="body">
        Price: € {{ product['price'] }}<br>
        Description: {{ product['description'] }}
      </p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
