{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Customers{% endblock %}</h1>
{% endblock %}

{% block content %}

<a href="{{ url_for('register_customer') }}">Register New Customer</a>
  {% for customer in customers %}
    <article class="customer">
      <header>
        <div>
          <h1>{{ customer['name'] }}</h1>
        </div>
        <form action="{{ url_for('remove_customer', cust_no=customer['cust_no']) }}" method="post">
          <button type="submit" class="remove">Remove</button>
        </form>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

{% endblock %}
